<div class="row">
  <mat-toolbar color="primary">
    <mat-toolbar-row class="toolbarLogo">
        <svg class="menu" *ngIf="menusvg" (click)="menuClick()" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path class="menusvg" d="M4 18h16c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1s.45 1 1 1zm0-5h16c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1s.45 1 1 1zM3 7c0 .55.45 1 1 1h16c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1z"/></svg>
        <img src="./assets/logo.png" alt="logo" class="logo">
        <span class="spacer"></span>
        <mat-form-field *ngIf="showCycles" style="margin-top: 1rem">
            <mat-label style="font-size: 14px;">Ciclo Escolar</mat-label>
            <mat-select style="font-size: 14px;" [value]="listOfcycles[0]" (selectionChange)="getCycleValue($event.value)" >
              <mat-option *ngFor="let cycles of listOfcycles" [value]="cycles" style="font-size: 12px;">
                {{cycles}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </mat-toolbar-row>
  </mat-toolbar>
</div>