/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Roboto', sans-serif;
}

:root {
    --button-color: #6C5CE7;
    --toolbar-color: #0984E3;
}

.center-text {
  text-align: center;
}

.fill {
  fill: #fff;
}

.fill-grey {
  fill: #9E9E9E;
}

.mat-secondary {
    background-color: var(--button-color);
    color: #fff;
}

.btnImg {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.mat-main {
  background-color: var(--toolbar-color);
  color: #fff;
}

.mat-successBar {
  background-color: #00b894;
}

.successSVG {
  fill: #00b894;
}

.center-vertical {
  align-self: center;
  font-size: 20px;
}

.full-width {
  width: 100%;
}

.btn {
  width: 14vw;
  background-color: var(--button-color);
  font-size: 18px;
}

.align-right {
  text-align: right;
}
 .align-right > span {
   margin-right: 1rem;
 }

 .mat-expansion-panel-header.mat-expanded .mat-progress-bar-fill::after {
  background-color: #00b894;
}